rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
    }
    match /institutions/{institutionId} {
      allow read, write: if true;
    }
    match /notices/{noticeId} {
      allow read, write: if true;
    }
    match /homeworks/{homeworkId} {
      allow read, write: if true;
    }
    match /attendance/{attId} {
      allow read, write: if true;
    }
    match /submissions/{subId} {
      allow read, write: if true;
    }
    match /events/{eventId} {
      allow read, write: if true;
    }
    match /complaints/{complaintId} {
      allow read, write: if true;
    }
    match /classes/{classId} {
      allow read, write: if true;
    }
    match /study_groups/{groupId} {
      allow read, write: if true;
      match /messages/{messageId} {
        allow read, write: if true;
      }
    }
  }
}

